*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;

}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom:150px;
}


.body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    display: none;
}

.start-page {
    display: flex;
    text-align: center;
    font-size: 40px;
    max-width: 50%; 
    
}

.answers {
    display: grid;
    gap: 10px;
}

.last-page {
    display: flex;
    text-align: center;
    font-size: 40px;
    max-width: 50%; 
    display: none;
    
}

.scoresbtn {
    background:none;
    border:none;
    outline: none;
    font-size:25px;
    font-weight: bolder;
    
}

.scoresbtn:hover {
    cursor: pointer;
}

.score-page {
    display: none;
}

#score {
    font-size:25px;
    font-weight: bolder;
    
}

#timer {
    font-size:25px;
    font-weight: bolder;
    
}


